.sidebar-item {
  margin: 5px 0;
}

.sidebar-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;

  &.sidebar-active {
    background-color: #6a5acd;
    color: #fff;
  }
}

.sidebar-link:hover {
  background-color: #6a5acd;
  color: #fff;
}

.sidebar-link i {
  margin-right: 10px;
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.sidebar-link:hover i {
  transform: scale(1.2);
}

